html, body {
  height: 100%;
}

.part1 {
  background-image: url("../img/backgrounds/landing.jpg");
  min-height: 350px;
  text-align: center;
  width: auto;
  padding-bottom:5%;


}



#breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
  height: 200px;
  padding-top: 15px;


}

#lunch {
  background-image: url("../img/foodtop/lunch.jpg");
  height: 200px;
  padding-top: 15px;

}

#dinner {
  background-image: url("../img/foodtop/dinner.jpg");
  height: 200px;
  padding-top: 15px;

  }

.drinks {
  padding-top: 20px;

}


.container1 {
  width: 400;
  height: 200;
  text-align: center;
  background-color: white;
  margin: 20px;
  border: 2px black;
  padding: 4px;
  border: 2px solid grey;
