html, body {
  height: 100%;
}

.part1 {
  background-image: url("../img/backgrounds/landing.jpg");
  min-height: 350px;
  text-align: center;
  width: auto;
  padding-bottom:5%;


}



#breakfast-img {
  background-image: url("../img/foodtop/breakfast.jpg");
  height: 200px;
  padding-top: 15px;


}

#lunch-img {
  background-image: url("../img/foodtop/lunch.jpg");
  height: 200px;
  padding-top: 15px;

}

#dinner-img {
  background-image: url("../img/foodtop/dinner.jpg");
  height: 200px;
  padding-top: 15px;

  }


  .foods p {
  margin-left: 2px;
  font-size: 30px;

  }

  .row1 {
    padding-top: 30px;
  }

.row2 img {
  padding-top: 200px;
}

#drinkstext {
padding-bottom: 500px;


}
